:root {
  --primary-color: #007bff;
  --text-color: #333;
  --font-family: 'Roboto', sans-serif; /* Use the font specified in Figma */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
}

.plp-container {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}

main {
  flex-grow: 1;
  padding: 20px;
}

.content-layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
}

.product-grid {
  display: grid;
  /* Desktop: 4 columns */
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
}

.product-card {
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 80%; 
  height: auto;
  margin: 0 auto 10px auto; 
}

/* Tablet view*/
@media (max-width: 992px) {
  .content-layout {
  
    grid-template-columns: 1fr;
  }

  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  .product-filters {
    display: none;
  }

  .product-grid {
    grid-template-columns: 1fr;
  }
}


/* Tablet View */
@media (max-width: 1024px) {
  /* Adjust content layout for Sidebar ,Content */
  .content-layout {
    grid-template-columns: 1fr 4fr;
    gap: 20px;
  }


  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  /* adust product card */
  .product-card h3 {
    font-size: 1em;
  }
}



/* Mobile View */

@media (max-width: 768px) {
  .content-layout {
    grid-template-columns: 1fr;
  }

  .product-filters {
    /* filter changes */
    display: none;

  }

  .product-grid {
    /* mobile in changes grid */
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  /* adjust code header */
  .main-header {
    flex-direction: column;
    align-items: center;
  }
}